.menu-container {
  margin-top: -10px;
  width: 300%;
  max-width: 300px;
  background-color: #cecece98;
  border-radius: 12px;
  padding: 0;
  text-align: left;
  box-shadow: none;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 2px solid #ffffff;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  background-color: #2a2a2a45;
}

.menu-icon {
  margin-right: 16px;
}

.menu-text {
  flex-grow: 1;
  font-size: 18px;
  color: #000000;
}

.menu-arrow {
  font-size: 14px;
  color: #000000;
}

.menu-item-disabled {
  opacity: 0.5;
  cursor: default;
}

.menu-title-outside-commands {
  font-size: 26px;
  font-weight: 1500;
  color: #000000;
  margin: 20px 16px 8px;
  padding-bottom: 8px;
  text-align: left;
  position: relative;
  transform: translate(-70%);
  z-index: 1;
}

.menu-title-outside-settings {
  font-size: 26px;
  font-weight: 1500;
  color: #000000;
  margin: 20px 16px 8px;
  padding-bottom: 8px;
  text-align: left;
  position: relative;
  transform: translate(-52%);
  z-index: 1;
}
