.App {
  display: flex;
  justify-content: center;
  min-height: 100vh; /* ✅ Теперь контент может быть больше экрана */
  margin: 0;
  background-color: white;
  color: black;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto; /* ✅ Разрешаем скролл по вертикали */
  font-family: "Arial", sans-serif;
}

/* Стили для кнопки Next */
.next-button {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-55%);
  width: 80%; /* Ширина 80% от экрана */
  max-width: 300px; /* Максимальная ширина — 300px */
  padding: 14px 20px; /* Можно немного увеличить вертикальные отступы */
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #007aff; /* Telegram-синий */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.next-button:hover {
  background-color: #0066d0;
}

.next-button:active {
  background-color: #0055b5;
}

/* Адаптивность */
@media (max-width: 500px) {
  .center-text {
    font-size: 36px;
  }

  .next-button {
    bottom: 70px;
    width: 65%; /* Ширина 80% от экрана */
    max-width: 200px; /* Максимальная ширина — 300px */
    font-size: 16px;
  }

  .typing-text {
    position: absolute;
    top: 65%;
    font-size: 16px;
    width: 80vw;
    max-width: 500px;
  }

  .so-magic-logo {
    max-width: 200px;
  }
}
